.intro {
  padding-top: $space-xxl;

  h1 {
    font-weight: 400;
    font-size: $text-3xl;
    max-width: $space-xxl * 20;
  }

  h2 {
    margin-top: $space-lg;
    font-weight: 400;
    font-size: $text-5xl;
    max-width: $space-xxl * 8;

    strong {
      font-weight: 700;
    }
  }

  img {
    max-width: 300px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    margin-top: $space-lg;
    font-size: $text-lg;

    a {
      color: inherit;
    }
  }

  hr {
    margin-top: $space-xl;
  }
}
