.homepage__pagination {
  display: flex;
  font-weight: 400;
  padding-bottom: $space-xl;

  &-link {
    margin-left: auto;
    display: inline-block;
    text-transform: uppercase;

    color: inherit;
  }
}
