.homepage__pagination {
  display: flex;
  font-weight: 400;
  padding-bottom: $space-xl;

  &-link {
    margin-left: auto;
    display: inline-block;
    text-transform: uppercase;
    transition: color 0.3s ease-out;
    color: inherit;

    &:hover {
      color: $accent;
    }

    @include phone {
      margin-right: auto;
    }
  }
}
