.post {
  padding-top: $space-xxl * 1.5;
  padding-bottom: $space-xxl * 1.5;

  .inner-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 90ch;
  }

  h1 {
    font-size: $text-5xl;

    @include phone {
      font-size: $text-3xl;
    }
  }

  .meta-info {
    opacity: 0.7;
  }

  &__body {
    margin-top: $space-xxl;
    word-wrap: break-word;
    font-size: $text-lg;

    & > * + * {
      margin-top: $space-sm;
    }

    p {
      margin-top: $space-lg;
      line-height: 1.6;
    }

    h1,
    h2,
    h3 {
      text-transform: capitalize;
    }

    h1 + p,
    h2 + p,
    h3 + p {
      margin-top: $space-sm;
    }

    * + h1,
    * + h2,
    * + h3 {
      margin-top: $space-xxl;
    }

    h2 + h3 {
      margin-top: $space-lg;
    }

    h2 {
      font-size: $text-4xl;
    }

    h3 {
      font-size: $text-2xl;
    }

    a:not([class]) {
      color: inherit;
      display: inline-block;
      text-decoration: underline;
    }

    a:not([class]):hover {
      color: $accent;
    }

    strong {
      font-weight: bold;
      font-size: 0.9em;
    }

    code {
      font-size: 1.2em;
      font-weight: 600;
      margin-left: 0.01ch;
      margin-right: 0.01ch;
    }

    pre > code {
      margin-right: 0;
      border: 1px solid rgba(255, 255, 255, 0.1);
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }

    blockquote {
      margin-top: $space-lg;
      margin-left: 0;
      font-style: italic;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-left: 5px solid $black;
      padding-left: $space-sm;
      padding-top: $space-md;
      padding-bottom: $space-md;

      p {
        opacity: 0.85;
        margin-top: 0;
      }
    }

    ol:not([class]),
    ul:not([class]) {
      margin-left: 1rem;

      li + li {
        margin-top: 1rem;
      }
    }

    figure img,
    pre > code,
    .video-player {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    }

    figure img {
      position: relative;
      z-index: 1;
    }

    figcaption {
      font-size: 0.8em;
      font-style: italic;
      margin: 0.5rem auto 0 auto;
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: $space-xxl;

    .nav__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      li {
        margin-right: $space-sm;
        margin-left: 0;
        margin-top: $space-sm;
      }
    }

    h2 {
      font-size: $text-base;
      margin-right: 1rem;
      margin-top: $space-sm;
    }

    a {
      color: inherit;

      &:hover {
        color: $accent;
      }
    }
  }
}
