.post-list {
  padding-bottom: $space-xl;

  &__heading {
    text-transform: uppercase;
    font-family: 'Noto Sans', san-serif;
    font-weight: 700;
    font-size: $text-xl + 0.2rem;
    display: flex;
    align-items: center;
    margin-top: $space-xl;
  }

  &__icon {
    width: 1.5em;
    height: 1.5em;
    display: flex;
    margin-right: $space-sm;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__items {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: $space-xl;
  }

  &__item {
    margin-top: $space-xxl;
    font-family: 'Noto Sans', san-serif;

    p {
      font-size: $text-lg;
    }

    h3 {
      font-family: inherit;
      font-weight: 400;
      font-size: $text-4xl;
    }

    @include phone {
      h3 {
        font-size: $text-2xl;
      }
    }
  }

  &__link {
    color: inherit;
    text-decoration: underline;
    transition: color 0.3s ease-out;

    &:visited {
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
      color: $accent;
    }
  }
}
