.post-list {
  padding-bottom: $space-xxl;

  &__items {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 22px;
  }

  &__item:not(:first-of-type) {
    margin-top: $space-xl;
  }

  &__item {
    font-family: 'Noto Sans', san-serif;

    p {
      font-size: $text-lg;
    }

    h3 {
      font-family: inherit;
      font-weight: 400;
      font-size: $text-4xl;
    }

    @include phone {
      h3 {
        font-size: $text-2xl;
      }
    }
  }

  &__link {
    display: inline-block;
    color: inherit;
    text-decoration: underline;
    transition: color 0.3s ease-out;

    &:visited {
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
      color: $accent;
    }
  }
}
