.post {
  &__body {
    /**
     * Generic HTML styles 
     */
    // h2 + *,
    // h3 + * {

    // }

    h2,
    h3 {
      position: relative;
      /*display: flex;*/
    }

    a:not([class]) {
      color: $black;
      position: relative;
      display: inline-block;
      padding: 0.2rem 0.4rem 0.3rem 0.4rem;
      text-decoration: none;
      word-break: break-word;
    }

    a:not([class]):hover {
      text-decoration: underline;
    }

    code {
      font-size: 1.2em;
      font-weight: 600;
      margin-left: 0.01ch;
      margin-right: 0.01ch;
    }

    pre > code {
      margin-right: 0;
      border: 1px solid rgba(255, 255, 255, 0.1);
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }

    blockquote {
      margin-left: 0;
      font-style: italic;
      font-size: get-size(600);

      p {
        opacity: 0.85;
        padding: get-size(500) 0;
      }
    }

    ol:not([class]),
    ul:not([class]) {
      margin-left: 1rem;

      li + li {
        margin-top: 1rem;
      }
    }

    // figure,
    // figure + *,
    // pre > code,
    // .video-player,
    // .video-player + *,
    // video {

    // }

    figure img,
    pre > code,
    .video-player {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    }

    figure img {
      position: relative;
      z-index: 1;
    }

    figcaption {
      font-size: 0.8em;
      font-style: italic;
      margin: 0.5rem auto 0 auto;
    }

    pre > code {
      display: block;
      padding: get-size(700);
      font-size: get-size(500);
    }
  }

  &__footer {
    h2 {
      flex-shrink: 0;
      margin-right: get-size('base');
      color: $black;
    }

    h2 a {
      @extend %visually-hidden;
    }

    a {
      background: $color-bg;
      padding: 0.4rem 0.6rem;
    }
  }
}
