.site-footer {
  background: $color-footer-bg;
  color: $color-footer-text;
  padding: $space-lg 0;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    & > * {
      flex-grow: 1;
    }
  }

  // https://9elements.com/blog/the-devils-albatros-an-algorithmic-layout-technique/
  .devils-albatross {
    flex-grow: 666;
    flex-basis: calc((45em - 100%) * 666);
    padding-top: $space-lg;
  }

  &__social-links {
    > * + * {
      margin-left: $space-lg;
    }

    > a {
      display: inline-block;
      height: $space-lg;
      width: $space-lg;
      text-decoration: none;

      svg {
        height: 100%;
        width: 100%;
        transition: opacity 0.2s ease;
      }

      svg:hover {
        opacity: 0.6;
      }
    }

    @include phone {
      display: flex;
      justify-content: center;
    }
  }

  &__details {
    font-size: $text-lg;

    @include phone {
      // text-align: center;
    }
  }

  a {
    color: inherit;
    text-decoration: underline;
    transition: color 0.2s ease;
  }

  a:focus {
    border: 1px solid white;
  }

  a:hover {
    color: inherit;
    color: transparentize($color-footer-text, 0.3);
  }
}
