<header class="intro">
  <div class="wrapper">
    <h1>{{heading}}</h1>
    <div class="intro__wrapper">
      <div class="intro__content">{{ introContent | safe }}</div>
      <div>
        <img loading="lazy" src="{{ introImage | url }}" alt="">
      </div>
    </div>

    <p class="intro__more-about">More <a href="/about">about</a> me
    </p>

    <hr/>
  </div>

  <div class="wrapper">
    <h2 class="intro__post-list-heading">
      <span class="intro__post-list-icon">
        {{ '/src/_includes/icons/zap-icon.svg' | svgContents | safe  }}
      </span>
      <span>Updates</span>
    </h2>
  </div>
</header>