<header class="intro">
  <div class="wrapper">
    <h1>{{heading}}</h1>
    <div class="intro__wrapper">
      <div class="intro__content">{{ introContent | safe }}</div>
      <div>
        <img loading="lazy" src="{{ introImage | url }}" alt="">
      </div>
    </div>

    <p class="intro__nav">More <a href="/about">about</a> me and my <a href="/work">work</a>
    </p>

    <hr/>
  </div>

</header>