<section class="newsletter">
  <div class="wrapper newsletter__wrapper">
    <h2 class="newsletter__heading">The best of my fuzzy brain</h2>
    <p class="newsletter__body">A monthly newsletter with things that are too raw or risky to publish. A fine selection of experience design articles, book reviews and jokes</p>

    <form class="newsletter__form" name="newsletter" method="POST" data-netlify="true" action="/thank-you">
      <label for="email" class="newsletter__label">Your email:</label>
      <input id="email" type="email" name="email" class="newsletter__input" required/>
               
      <button type="submit" class="newsletter__button">Subscribe</button>
    </form>
  </div>
</section>
