{% if postListItems.length %}
  <section class="post-list wrapper">
    <h2 class="post-list__heading">
      <span class="post-list__icon">
        {{ '/src/_includes/icons/zap-icon.svg' | svgContents | safe  }}
      </span>Updates
    </h2>
    <div class="">
      <ol class="post-list__items" reversed>
        {% for item in postListItems %}
          {% if item
            .date
            .getTime() <= global
            .now %}
            <li class="post-list__item">
              <p class="">
                <time datetime="{{ item.date | dateFilter }}">{{ item.date | dateFilter }}</time>
              </p>
              <h3 class="">
                <a href="{{ item.url }}" class="post-list__link" rel="bookmark">{{ item.data.title }}</a>
              </h3>

            </li>
          {% endif %}
        {% endfor %}
      </ol>
    </div>
  </section>
{% endif %}