<footer role="contentinfo" class="site-footer">
  <div class="wrapper site-footer__wrapper">
    <div class="site-footer__social-links">
      <a href="https://twitter.com/danielsouza" title="Veja meus tweets - geralmente sou muito ativo">
        {{ '/src/_includes/icons/twitter-icon.svg' | svgContents | safe  }}
      </a>
      <a href="https://github.com/esperanca" title="Conecte-se comigo no GitHub">
        {{ '/src/_includes/icons/github-icon.svg' | svgContents | safe  }}
      </a>
      <a href="https://www.linkedin.com/in/danielsouza/" title="Conecte-se comigo no LinkedIn">
        {{ '/src/_includes/icons/linkedin-icon.svg' | svgContents | safe  }}
      </a>
      <a href="/feed.xml" title="Feeds">
        {{ '/src/_includes/icons/rss-icon.svg' | svgContents | safe  }}
      </a>
    </div>

    <div class="devils-albatross"></div>

    <div>
      <article class="site-footer__details">
          Feito com amor em Londres. <a href="/colophon" rel="external">Colofão</a>.
          </article>
    </div>
  </div>
</footer>