{% extends 'layouts/base.njk' %}

{# Post list content #}
{% set title = "Blog" %}
{% set postListItems = collections.posts %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <div class="page__header-wrapper">
      <div class="page__inner-wrapper">
        <h1>{{title}}</h1>
      </div>
    </div>

    <div class="page__inner-wrapper">
      {% include "partials/components/post-list.njk" %}
    </div>
  </main>
{% endblock %}