{% extends 'layouts/base.njk' %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="wrapper">
      <div>
        {{ content | safe }}
      </div>
    </article>
  </main>
{% endblock %}