{% extends 'layouts/page.njk' %}

{% block content %}
  <main id="main-content" tabindex="-1" class="contact">
    <div class="page__header-wrapper">
      <div class="page__inner-wrapper">
        <h1>{{title}}</h1>
      </div>
    </div>

    <div>
      <div class="page__inner-wrapper">
        {{ content | safe }}

        <form class="contact__form" name="contact" method="POST" data-netlify="true" action="/success">
          <label for="email" class="contact__label">Whats your name:</label>
          <input id="email" type="text" class="contact__input" name="name" required/>

          <label for="email" class="contact__label">Whats your e-mail:</label>
          <input id="email" type="email" class="contact__input" name="email" required/>

          <label for="email" class="contact__label">Whats your message:</label>
          <textarea name="message" id="" cols="30" rows="10" required ></textarea>

          <input type="hidden" name="form-name" value="contact">

          <button type="submit" class="contact__button">Send</button>
        </form>
      </div>
    </div>
  </main>
{% endblock %}