{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="wrapper">
      <div>
        {{ content | safe }}
        {% include "partials/components/contact-form.njk" %}
      </div>
    </article>
  </main>
{% endblock %}

{{ content | safe }}