{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introContent %}
{{ content | safe }}
{% endset %}

{# Post list content #}
{% set postListItems = collections.postFeed %}

{# Archive link #}
{% if postListItems.length < collections.posts.length %}
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    {% include "partials/components/post-list.njk" %}

    <div class="wrapper homepage__pagination">
      <a href="/archive" class="homepage__pagination-link">View All Updates</a>
    </div>

    {% include "partials/components/newsletter.njk" %}
  </main>
{% endblock %}