{% extends 'layouts/page.njk' %}

{% block content %}
  <main id="main-content" tabindex="-1" class="page" >
    <div class="page__header-wrapper">
      <div class="page__inner-wrapper">
        <h1>Blog</h1>
      </div>
    </div>

    <div>
      <div class="inner-wrapper">
        <header>
          <h2>{{title}}</h2>

          <p class="meta-info">
            {% if date %}
              <time datetime="{{ date | postDate }}" class="dt-published">{{ date | postDate }}</time>
            {% endif %}
            <span>— {{ helpers.getReadingTime(content) }} minute read</span>
          </p>
        </header>

        <article>
          <div class="page__content">
            {{ content | safe }}
          </div>

          {% if tags %}
            <footer class="post__footer">
              <h2 class="">Filed under:</h2>
              <ul class="nav__list">
                {% for item in tags %}
                  <li class="nav__item">
                    <a href="/tags/{{ item }}">{{ item }}</a>
                  </li>
                {% endfor %}
              </ul>
            </footer>
          {% endif %}
        </article>
      </div>
    </div>
  </main>
{% endblock %}

{{ content | safe }}