---
title: Tag Archive
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
    - postFeed
  addAllPagesToCollections: true
permalink: /tags/{{ tag }}/
---

{% extends 'layouts/base.njk' %}

{# Post list content #}
{% set postListHeadingLevel = '2' %}
{% set postListHeading = 'Posts' %}
{% set postListItems = collections[tag] %}

{% block content %}
  <main id="main-content" tabindex="-1" >
    <div class="wrapper archive">
      <h1>Posts tagged “{{ tag }}”</h1>
    </div>

    {% include "partials/components/post-list.njk" %}
    {% include "partials/components/pagination.njk" %}
  </main>
{% endblock %}