/* pt-serif-700 - latin
@font-face {
 font-family: 'salomeregular';
  src: url('/fonts/salome-webfont.eot');
  src: url('/fonts/salome-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/salome-webfont.woff2') format('woff2'),
    url('/fonts/salome-webfont.woff') format('woff'),
    url('/fonts/salome-webfont.ttf') format('truetype'),
    url('/fonts/salome-webfont.svg#salomeregular') format('svg');
  font-weight: normal; 
*/
	
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'),
       url('/fonts/libre-baskerville-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/libre-baskerville-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}	
	
	
	
}

body {
  // Strip the unit off the size ratio to generate a line height
  $line-height: get-size(600);
  line-height: $line-height / ($line-height * 0 + 1);

  @include apply-utility('font', 'base');
}

h1,
h2,
h3 {
  @include apply-utility('font', 'serif');
}

h1 {
  font-size: get-size(700);
}

h2 {
  font-size: get-size(600);
}

h3 {
  font-size: get-size(500);
}

@include media-query('md') {
  h1 {
    font-size: get-size(900);
  }

  h2 {
    font-size: get-size(800);
  }

  h3 {
    font-size: get-size(700);
  }
}
