@import 'utilities/typography';
@import 'utilities/visually-hidden';
@import 'utilities/wrapper';
@import 'utilities/variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  scroll-behavior: smooth;
}

main {
  flex: 1 0 auto;
  &:focus {
    outline: none;
  }
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:focus-visible {
  outline: 1px solid $black;
}

h1,
h2,
h3 {
  a {
    display: none;
  }
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

@import 'components/heading-permalink';
@import 'components/homepage';
@import 'components/newsletter';
@import 'components/contact';
@import 'components/post';
@import 'components/post-list';
@import 'components/site-header';
@import 'components/site-footer';
@import 'components/skip-link';
@import 'components/syntax-highlighting';
@import 'components/video-player';
@import 'components/archive';
@import 'components/page';
